body{
  background: #6669f4;
}
.App{
  width: 90%;
  margin: auto;
}
.heading{
  font-size: 2.6rem;
  text-align: center;
  color: #ff0000;

}
.pureComponent,
.hoc{
  color: white;
}
h1,
h2,
h3{
  text-align: center;
  color: black;
}
.App {
  text-align: center;
}
.steps{
  color: white;
}
.step>span{
  color: #000000;
  font-size: 22px;
}
.counter{
  display: flex;
  justify-content: space-around;
}
.counter>div{
font-size: 1rem;
font-weight: bold;
}
button{
  color: white;
  max-width: 150px;
  width: 100%;
  max-height:50px;
  background: #ff0000;
  /* background: #ec1d69; */
  border-radius: 5px;
  margin: 30px 0;
}
button:hover{
cursor: pointer;
}
@media (max-width:400px){
  .counter{
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }
}